.container{
    width: 100%;
}

.carousel-inner{
    height: auto;
}


.course{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
}

.navi{
    justify-content: space-evenly;
}

.fa-star{
    width: 50px;
}

.back{
    background-color: black;
    color: black;
    width: 100%;
}


.row img{
    width: 80px;
    height: 35px;
    margin-top: 40px;
}

.text-center{
    gap: 30px;
}

.backi{}

.review{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    height: auto;
    margin-bottom: 20px;
}

.card-img-top{
    height: 200px;
    object-fit: cover; 
}

.rev{
    width: 100%;
    height: 100%;
}

.btn{
    list-style: none;
}

.navi li:hover{
    text-decoration: underline rgb(0, 0, 0);
}

.navi li a:hover{
    transform: scale(1.1);
}

.btn-primary{
    list-style: none;
}

.navi{
    list-style-type: none;
}

.navi button{
    margin-left: 10px;
}

.navi button:hover{
    transform: scale(1.0);
}

.fa-angle-right{
    width: 50px;
}

.ach{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card img{
    height: 250px;
}

.men{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}


.call{
    text-align: center;
    margin-top: 10px;
}

.what{
    margin-top: 50px;
}

.what button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bolder;
}

.fa-whatsapp{
    font-size: 30px;
}

.cou{
    margin-left: 75px;
}